DATABASE_URL=mysql+pymysql://practicas_api:12345678@172.24.144.1:3306/practicas
JWT_SECRET_KEY=E8dzIueLjwfOyM4hiX0TE6sPxh6XIO_U5rCNArVXuqFM9MoWPePUGPdCn7GxWMvdnaauk7nkZAf7b0Aj0NyCQw


#EMAIL_ENABLED=true
#SMTP_HOST=smtp.gmail.com
#SMTP_PORT=587
#SMTP_USER=
#SMTP_PASSWORD=lcsmzgywswgrxxwe
#SMTP_FROM_NAME="Sistema de Practicas Profesionales"
#SMTP_FROM_ADDRESS=ppunachprueba@gmail.com
#SMTP_USE_TLS=true
#FRONTEND_URL=http://localhost:5173
#SHOW_TEMP_PASSWORDS_IN_RESPONSE=false

#ppunachprueba@gmail.com